<!--  -->
<% if @wiki.private? && (@wiki.user == current_user || current_user.admin? || @wiki.users.include?(current_user)) %>
    <h3 >Current Collaborators</h3>
    <% @wiki.collaborators.each do |collaborator| %>
    <p>
      <%= collaborator.user.email %>


      <!-- <% @wiki.users.each do |collaborator| %>
        <h6><%= collaborator.email %></h6>
      <% end %> -->



      <% if @wiki.user == current_user || current_user.admin? %>
        <%= link_to "Remove", [@wiki, collaborator], method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to remove this collaborator?" } %>
      <% end %>
    </p>
    <% end %>
<% end %>
