<h1 class = "headline-text text-center">Blocipedia: Social, Markdown Wikis</h1>

<br/>
<div class="jumbotron" text-center pagination-centered">
  <h3>Create and share Markdown Wikis</h3>
  <br/>
  <% if !user_signed_in? %>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success text-center' %>
  <% end %>
</div>

<div class="row">
   <div class="col-md-4">
     <h3>Create as many public wikis as you want! </h2>
   </div>
   <div class="col-md-4">
     <h3>Create private wikis*</h3>
     <%= link_to "*with Premium membership",edit_user_registration_path  %>
   </div>
 </div>
