<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>Make it relevant.</li>
      <li>Make it plausible.</li>
      <li>Use good penmanship</li>
    </ul>
  </div>

  <div class="col-md-8">
      <%=render partial: 'form', locals: { wiki: @wiki } %>
<!-- collaborators add/remove   only render if authorized*** -->
      <%=render partial: 'collaborators/form', locals: { wiki: @wiki } %>
      <%=render partial: 'collaborators/collaborators', locals: { wiki: @wiki }%>

  </div>
</div>
