<h1>New Public Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>Make it relevant.</li>
      <li>Make it plausible.</li>
      <li>Use good penmanship</li>
    </ul>
  </div>

  <div class="col-md-2">
    <%=render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
